label{
   font-weight: bold;
    font-size: large;
}
.przyciskwyslij{
    float:right;
}
.spacer{
    height:25px;
    background-color: limegreen;
}

.fa{
    color:white;
}
.panelboczny{
    padding:10px;
    width:20%;
    height:1000px;
    border:1px solid black;
   
}
.list-group-item:nth-child(2n){
background-color: lightgray;

}

.category-item{
    text-decoration: none  !important;
}
